@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-bitt-50: #f5f5f5;
  --color-bitt-100: #737373;
  --color-bitt-200: #525252;
  --color-bitt-300: #3f3f47;
  --color-bitt-400: #ffffff;
  --color-bitt-500: #0a0a0a;
  --color-bitt-600: #090909;
  --color-bitt-700: #030202;
  --color-bitt-800: #060505;
  --color-bitt-900: #010101;
  --color-bitt-950: #052E16;
}
/*
light > 500
dark > 400
--color-bitt-400: #ffffff;
--color-bitt-400: #ffffff;
*/

/* :root {
  --ui-primary: black;
}

.dark {
  --ui-primary: white;
} */

@layer utilities {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    /* padding-bottom: env(safe-area-inset-bottom); */
    /* padding-bottom: 0px !important; */
  }
}